<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>NR-Local Food Preferenes</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" rel="stylesheet" />
    <link
      href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl bg-white p-0">
      <!-- Spinner Start -->
      <div
        id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
      >
        <div
          class="spinner-border text-primary"
          style="width: 3rem; height: 3rem"
          role="status"
        >
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <!-- Spinner End -->

      <!-- Navbar & Hero Start -->
      <div class="container-xxl position-relative p-0">
        <nav
          class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0"
        >
          <a href="" class="navbar-brand p-0">
            <h1 class="text-primary m-0">
              Local Food Preferences
            </h1>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"
          >
            <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0 pe-4">
              <a href="{{url_for('index')}}" class="nav-item nav-link active"
                >Home</a
              >
              <a href="{{url_for('about')}}" class="nav-item nav-link">About</a>
              <!-- <a href="service.html" class="nav-item nav-link">Service</a> -->
              <a href="{{url_for('menu')}}" class="nav-item nav-link">Menu</a>
              <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div> -->
              <a href="{{url_for('contact')}}" class="nav-item nav-link"
                >Contact</a
              >
            </div>
            <!-- <a href="{{url_for('login')}}" class="btn btn-primary py-2 px-4"
              >Login / SignUp</a
            > -->
          </div>
        </nav>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
          <div class="container my-5 py-5">
            <div class="row align-items-center g-5">
              <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">
                  Get Your<br />Desired Food
                </h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">
                  We recommend you the high nutritious food which has good
                  vitamins <br />and minerals that is best suitable with ur
                  location
                </p>
                <a
                  href="{{url_for('menu')}}"
                  class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft"
                  >Get Recommendation</a
                >
              </div>
              <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="../static/img/hero1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Navbar & Hero End -->

      <!-- Service Start -->
      <div class="container-xxl py-6">
        <div class="container">
          <div class="row g-4">
            <!-- <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item rounded pt-3">
                            <div class="p-4">
                                <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                                <h5>Master Chefs</h5>
                                <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
                            </div>
                        </div>
                    </div> -->
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item rounded pt-3">
                <div class="p-4">
                  <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                  <h5>Quality Food</h5>
                  <p>
                    We recommend quality food and high nourishing food which has
                    good nutrition values.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item rounded pt-3">
                <div class="p-4">
                  <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                  <h5>Nutrition</h5>
                  <p>
                    You can check the nutritions that are present in the food
                    which you are likely to take.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="service-item rounded pt-3">
                <div class="p-4">
                  <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                  <h5>24/7 Service</h5>
                  <p>
                    We provide all time service to our customers for any support
                    they required. You can reach us at our contact details.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Service End -->

      <!-- About Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6">
              <div class="row g-3">
                <div class="col-6 text-start">
                  <img
                    class="img-fluid rounded w-100 wow zoomIn"
                    data-wow-delay="0.1s"
                    src="../static/img/about-1.jpg"
                    style="height: 300px; width: 200px"
                  />
                </div>
                <div class="col-6 text-start">
                  <img
                    class="img-fluid rounded w-75 wow zoomIn"
                    data-wow-delay="0.3s"
                    src="../static/img/about-2.jpg"
                    style="margin-top: 40%"
                  />
                </div>
                <div class="col-6 text-end">
                  <img
                    class="img-fluid rounded w-75 wow zoomIn"
                    data-wow-delay="0.5s"
                    src="../static/img/about-31.jpg"
                    style="height: 200px; width: 150%"
                    width="1500px"
                  />
                </div>
                <div class="col-6 text-end">
                  <img
                    class="img-fluid rounded w-100 wow zoomIn"
                    data-wow-delay="0.7s"
                    src="../static/img/about-4.jpg"
                    style="height: 300px; width: 200px"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <h5
                class="section-title ff-secondary text-start text-primary fw-normal"
              >
                About Us
              </h5>
              <h1 class="mb-4">Welcome to NR systems</h1>
              <p class="mb-4">
                We panace.ai is a newly created startup which mainly focuses on
                the health digitalization and maintaining the health records of
                its clients digitally.<br />We research on the newly upcoming
                technlogies and create the solutions to the society on the
                various traditional problems.
              </p>
              <p class="mb-4">
                This project is used to recommend the nutritious food for its
                clients. We recommend the food to the clients which contain the
                high nutrition.<br />
                The foods that are recommended is based on the user present
                location. This recommends the local food that is locally
                available to the client and also its nutrition values.
              </p>
              <!-- <div class="row g-4 mb-4">
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">15</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Years of</p>
                                        <h6 class="text-uppercase mb-0">Experience</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center border-start border-5 border-primary px-3">
                                    <h1 class="flex-shrink-0 display-5 text-primary mb-0" data-toggle="counter-up">50</h1>
                                    <div class="ps-4">
                                        <p class="mb-0">Popular</p>
                                        <h6 class="text-uppercase mb-0">Master Chefs</h6>
                                    </div>
                                </div>
                            </div>
                        </div> -->
              <a
                class="btn btn-primary py-3 px-5 mt-2"
                href="{{url_for('about')}}"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </div>
      <!-- About End -->

      <!-- Menu Start -->
      <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5
              class="section-title ff-secondary text-center text-primary fw-normal"
            >
              Food Menu
            </h5>
            <h1 class="mb-5">Most Popular Items</h1>
          </div>
          <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul
              class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5"
            >
              <li class="nav-item">
                <a
                  class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active"
                  data-bs-toggle="pill"
                  href="#tab-1"
                >
                  <i class="fa fa-coffee fa-2x text-primary"></i>
                  <div class="ps-3">
                    <small class="text-body">Popular</small>
                    <h6 class="mt-n1 mb-0">Breakfast</h6>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="d-flex align-items-center text-start mx-3 pb-3"
                  data-bs-toggle="pill"
                  href="#tab-2"
                >
                  <i class="fa fa-hamburger fa-2x text-primary"></i>
                  <div class="ps-3">
                    <small class="text-body">Special</small>
                    <h6 class="mt-n1 mb-0">Lunch</h6>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="d-flex align-items-center text-start mx-3 me-0 pb-3"
                  data-bs-toggle="pill"
                  href="#tab-3"
                >
                  <i class="fa fa-utensils fa-2x text-primary"></i>
                  <div class="ps-3">
                    <small class="text-body">Lovely</small>
                    <h6 class="mt-n1 mb-0">Dinner</h6>
                  </div>
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu1.jpg"
                        alt=""
                        style="width: 75px; height: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Idly</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >idly's are made of rice or rava. these are considered
                          as healthy food as it not made of any oils and contain
                          rich carbs and proteins.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-2.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Semolina Upma</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Upma is a popular South Indian breakfast made with
                          cream of wheat or semolina flour (called rava or suji
                          locally), veggies, spices and herbs.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-3.jpg"
                        alt=""
                        style="width: 80px; height: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Andhra Style Vada</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Vada is prepared using black lentils and deep fried
                          in oil. This soul satisfying crispy vada dipped in
                          piping hot sambhar with coconut chutney is one treat
                          you shouldn't deprive yourself of.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-4.jpg"
                        alt=""
                        style="width: 80px; height: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Soft and Puffy Puris</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Puris are made of wheat flour and fried in oil. It is
                          famous all over India. It is served with the cooked
                          Potato curry.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-5.jpg"
                        alt=""
                        style="width: 80px; height: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Sarva Pindi</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >For a healthy breakfast/snack option Sarva Pindi is
                          an excellent choice as it is cooked with atleast one
                          component of each stage of the food pyramid.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-6.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Aloo Paratha</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >parathas are kind of stable breakfast in north India
                          specially in Punjabi homes.Aloo paratha is most
                          popular Paratha varieties made in home or served in
                          road side dhabas.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-7.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Dal Kachori Recipe</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >these flaky kachoris are made with spiced moong
                          lentils stuffing. kachoris can be made and stored for
                          a couple of days in the fridge. Kachori goes well with
                          tamarind dates chutney, green chutney or red chili
                          garlic chutney.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-8.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Poha</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Spice up your mundane morning routine with this quick
                          and easy poha recipe. Cooked with onions and potatoes
                          and flavoured with lemon and curry leaves, it's oh so
                          light and perfect for when you don't feel like
                          cooking.</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-2" class="tab-pane fade show p-0">
                <div class="row g-4">
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-1.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Dum Biryani</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Biryani is a mixed rice dish originating.It is made with Indian spices, rice, and usually some type of meat or in some cases without any meat, and sometimes, in addition, eggs and potatoes.</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-2.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-3.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-4.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-5.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-6.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-7.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-8.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab-3" class="tab-pane fade show p-0">
                <div class="row g-4">
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-1.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-2.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-3.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-4.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-5.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-6.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-7.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="d-flex align-items-center">
                      <img
                        class="flex-shrink-0 img-fluid rounded"
                        src="../static/img/menu-8.jpg"
                        alt=""
                        style="width: 80px"
                      />
                      <div class="w-100 d-flex flex-column text-start ps-4">
                        <h5
                          class="d-flex justify-content-between border-bottom pb-2"
                        >
                          <span>Chicken Burger</span>
                          <span class="text-primary"></span>
                        </h5>
                        <small class="fst-italic"
                          >Ipsum ipsum clita erat amet dolor justo diam</small
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu End -->

      <!-- Testimonial Start -->
      <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
          <div class="text-center">
            <h5
              class="section-title ff-secondary text-center text-primary fw-normal"
            >
              Testimonial
            </h5>
            <h1 class="mb-5">Our Clients Say!!!</h1>
          </div>
          <div class="owl-carousel testimonial-carousel">
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                This application is very much useful for me as well as for
                family members. This gives the food recommendation based on our
                locality and good nutrition food. Really love this site.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-2.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Abhinav</h5>
                  <small>Team Lead</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                last year i diagnosed with diabetes so doctor recommended me to
                reduce the carbohydrates in diet,So i came across this website
                which recommends me the food with less carbs value.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-1.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Rajender</h5>
                  <small>Vice Team Lead</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                I travel to different places in India for my business relations.
                I was very keen in taking of nutrition food for me. So i came
                across this web application which i use when i travel to various
                locations.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-3.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Ashish</h5>
                  <small>Front-end Developer</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                A very good application which recommends me the local food that
                is available to me and also with good nutrition values. <br />I
                really love this site.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-4.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Chinni</h5>
                  <small>Front-end Developer</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                I travel to different places in India for my business relations.
                I was very keen in taking of nutrition food for me. So i came
                across this web application which i use when i travel to various
                locations.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-1.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Satwik</h5>
                  <small>Back-end Developer</small>
                </div>
              </div>
            </div>
            <div class="testimonial-item bg-transparent border rounded p-4">
              <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
              <p>
                I travel to different places in India for my business relations.
                I was very keen in taking of nutrition food for me. So i came
                across this web application which i use when i travel to various
                locations.
              </p>
              <div class="d-flex align-items-center">
                <img
                  class="img-fluid flex-shrink-0 rounded-circle"
                  src="../static/img/testimonial-4.jpg"
                  style="width: 50px; height: 50px"
                />
                <div class="ps-3">
                  <h5 class="mb-1">Shiva</h5>
                  <small>Back-end Developer</small>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->

      <!-- Footer Start -->
      <div
        class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn"
        data-wow-delay="0.1s"
      >
        <div class="container py-2">
          <div class="row g-5">
            <div class="col-lg-4 col-md-7">
              <h4
                class="section-title ff-secondary text-start text-primary fw-normal mb-4"
              >
                Company
              </h4>
              <a class="btn btn-link" href="">About Us</a>
              <a class="btn btn-link" href="">Contact Us</a>
              <a class="btn btn-link" href="">Privacy Policy</a>
              <a class="btn btn-link" href="">Terms & Condition</a>
            </div>
            <div class="col-lg-4 col-md-8">
              <h4
                class="section-title ff-secondary text-start text-primary fw-normal mb-4"
              >
                Contact
              </h4>
              <p class="mb-2">
                <i class="fa fa-map-marker-alt me-3"></i>48 Lilac Tower, Serene
                County, Telecom Nagar, Gachibowli, Hyderabad
              </p>
              <p class="mb-2">
                <i class="fa fa-phone-alt me-3"></i>+91 00000 00000
              </p>
              <p class="mb-2">
                <i class="fa fa-envelope me-3"></i>www.panace.ai
              </p>
              <div class="d-flex pt-2">
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-twitter"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-youtube"></i
                ></a>
                <a class="btn btn-outline-light btn-social" href=""
                  ><i class="fab fa-linkedin-in"></i
                ></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-8">
              <h4
                class="section-title ff-secondary text-start text-primary fw-normal mb-4"
              >
                Newsletter
              </h4>
              <p>
                Want to know more about us please feel free to subscribe to our
                Newsletter
              </p>
              <div class="position-relative mx-auto" style="max-width: 400px">
                <input
                  class="form-control border-primary w-100 py-3 ps-4 pe-5"
                  type="text"
                  placeholder="Your email"
                />
                <button
                  type="button"
                  class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2"
                >
                  SignUp
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="copyright">
            <div class="row">
              <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                &copy;
                <a class="border-bottom" href="#">NR Local Food Preferences</a>,
                All Right Reserved. Designed By
                <a class="border-bottom">CBIT Students</a><br /><br />
                Distributed By <a class="border-bottom">panace.ai</a>
              </div>
              <div class="col-md-6 text-center text-md-end">
                <div class="footer-menu">
                  <a href="">Home</a>
                  <a href="">Cookies</a>
                  <a href="">Help</a>
                  <a href="">FAQs</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js"></script>
    <script src="../static/lib/easing/easing.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment.min.js"></script>
    <script src="../static/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js"></script>
  </body>
</html>
